In [7]:
%load_ext autoreload
%autoreload 2

INFO: Pandarallel will run on 40 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
from ect_utils import *

In [9]:
%%time
# all flights in the month
flights = load_flights(2018, 9)
# all flight plans in the month
plans = load_plans(2018, 9)

CPU times: user 58 s, sys: 1min 11s, total: 2min 9s
Wall time: 1min 26s

In [10]:
flights.head()

,ECTRL ID,ADEP,ADEP Latitude,ADEP Longitude,ADES,ADES Latitude,ADES Longitude,FILED OFF BLOCK TIME,FILED ARRIVAL TIME,ACTUAL OFF BLOCK TIME,...,Actual Distance Flown (nm),start,stop,duration,icao24,registration,typecode,model,operator,csv
0,222570358,HEMA,25.55806,34.58306,LKPR,50.10083,14.26000,01-09-2018 00:01:00,01-09-2018 04:13:21,01-09-2018 00:21:20,...,1801,2018-09-01 00:21:20,2018-09-01 04:34:00,5,010193,SUBSM,A320,Airbus A320-214,Air Cairo,[/home/DATA/EUROCONTROL/TRACKS/201809/2018-09-...
1,222570363,LTBA,40.97611,28.81417,LTCG,40.99583,39.78528,01-09-2018 00:05:00,01-09-2018 01:38:11,01-09-2018 00:00:00,...,521,2018-09-01 00:00:00,2018-09-01 01:34:00,2,4baaaa,TCJUJ,A320,Airbus A320-232,Turkish Airlines,[/home/DATA/EUROCONTROL/TRACKS/201809/2018-09-...
2,222570365,GMFF,33.92722,-4.97778,EBBR,50.90139,4.48444,01-09-2018 00:05:00,01-09-2018 03:00:43,01-09-2018 00:16:00,...,1140,2018-09-01 00:16:00,2018-09-01 03:09:17,3,46cde6,SXSOF,A320,,,[/home/DATA/EUROCONTROL/TRACKS/201809/2018-09-...
3,222570368,LEPA,39.55167,2.73889,EGKK,51.14806,-0.19028,01-09-2018 00:05:00,01-09-2018 02:14:50,01-09-2018 00:23:00,...,762,2018-09-01 00:23:00,2018-09-01 02:31:15,3,400a60,GOOBF,B752,Boeing 757-28A,Thomson Airways,[/home/DATA/EUROCONTROL/TRACKS/201809/2018-09-...
4,222570372,LEPA,39.55167,2.73889,EGTE,50.73417,-3.41389,01-09-2018 00:05:00,01-09-2018 02:09:59,01-09-2018 00:10:00,...,747,2018-09-01 00:10:00,2018-09-01 02:16:15,3,4064a1,GFDZU,B738,Boeing 737-8K5,Thomson Airways,[/home/DATA/EUROCONTROL/TRACKS/201809/2018-09-...

In [11]:
%%time
i = 1
flight = flights.loc[i]
plan = load_flight_plan(flight, plans)
track = load_flown_track(flight)

Total files to read: 2
reading csv file  0 /home/DATA/EUROCONTROL/TRACKS/201809/2018-09-01/2018-09-01_00.csv.gz
reading csv file  1 /home/DATA/EUROCONTROL/TRACKS/201809/2018-09-01/2018-09-01_01.csv.gz
CPU times: user 2min 22s, sys: 6.89 s, total: 2min 29s
Wall time: 2min 23s

In [12]:
track.head()

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,hour
0,1535761190,4baaaa,NaN,NaN,NaN,NaN,NaN,NaN,False,False,False,5115.0,236.22,NaN,NaN,1.535761e+09,1535760000
1,1535761191,4baaaa,NaN,NaN,80.294475,358.164225,15.28064,NaN,False,False,False,5115.0,236.22,259.08,NaN,1.535761e+09,1535760000
2,1535761192,4baaaa,NaN,NaN,80.294475,358.164225,14.95552,NaN,False,False,False,5115.0,243.84,266.70,NaN,1.535761e+09,1535760000
3,1535761193,4baaaa,40.998835,28.805965,80.294475,358.164225,14.95552,NaN,False,False,False,5115.0,274.32,266.70,1.535761e+09,1.535761e+09,1535760000
4,1535761194,4baaaa,40.998835,28.805965,80.294475,358.164225,14.95552,NaN,False,False,False,5115.0,289.56,266.70,1.535761e+09,1.535761e+09,1535760000